﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WAR CARD GAME</h1>
    <p class="lead">
        This is simple war card game.
        <br /><br />
        Grab new deck, shuffle and start game.
        <br /><br />
        You and your opponent will draw card for every round and bettle with them on table.
        <br /><br />
        Higher card wins, winner get cards from table to his own 'used cards stack'. These cards will be reshuffled and put onto table as your new deck when it will be empty.
        <br /><br />
        You will lose one card every time you will get new deck (the weakest card will be removed)
        <br /><br />
        If there is draw, just continue game with next round. (Those cards will be left on table, winner gets them as a bonus to next win)
        <br /><br />
        Stay alive with cards to get win!

    </p>
    
</div>
