﻿@using Game

@{
    ViewBag.Title = "Play";
}

<p class="center">
    @Html.ActionLink("Get New Deck", "LoadNewDeck", "Game", null, new { @class = "game-button" })
    @Html.ActionLink("Shuffle Deck", "ShuffleDeck", "Game", null, new { @class = "game-button" })
    @Html.ActionLink("Sort Deck", "SortDeck", "Game", null, new { @class = "game-button" })
    @Html.ActionLink("Start game", "DivideDeck", "Game", null, new { @class = "game-button" })
    @Html.ActionLink("End game", "EndGame", "Game", null, new { @class = "game-button" })
</p>

<hr />
Main deck: @ViewBag.FullDeck

<br />
@if (Session["LastBattleResult"] != null)
{
    if ((LastGameResult)Session["LastBattleResult"] == LastGameResult.HostileWin)
    {
        <span>Result: Hostile won that round</span>
    }
    else if ((LastGameResult)Session["LastBattleResult"] == LastGameResult.PlayerWin)
    {
        <span>Result: You won that round</span>
    }
    else if ((LastGameResult)Session["LastBattleResult"] == LastGameResult.Draw)
    {
        <span>Result: There was draw in that round</span>
    }
}

<br />

@if ((GameStatus)Session["GameStatus"] == GameStatus.InGame)
{
    <div class="row gameTable">
        <div class="row">
            <div class="col-md-12" style="margin: 0"><h2>HOSTILE</h2></div>
            <div class="col-md-9" style="margin: 0">
                <div class="col-md-12 card" style="margin: 0;">
                    <div class="col-md-12 card-value top-value" style="margin: 0">
                        @Html.Raw(ViewBag.HostileCardValue)
                    </div>
                    <div class="col-md-12 card-type" style="margin: 0">
                        @Html.Raw(ViewBag.HostileCardColor)
                    </div>
                    <div class="col-md-12 card-value bottom-value rotate180" style="margin: 0">
                        @Html.Raw(ViewBag.HostileCardValue)
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin: 0">
                @if (Session["HostileDeck"] == null || (((Deck)Session["HostileDeck"]).CardsCount == 0))
                {
                    <div class="card">
                        &nbsp;
                    </div>

                    <span class="deck-info">
                        Cards in deck: @ViewBag.HostileDeck<br />
                        Cards in used stack: @ViewBag.HostileUsedDeck <br />
                    </span>
                }
                else
                {
                    <div class="card card-back">
                        &nbsp;
                    </div>

                    <span class="deck-info">
                        Cards in deck: @ViewBag.HostileDeck<br />
                        Cards in used stack: @ViewBag.HostileUsedDeck <br />
                    </span>
                }

            </div>

            <div class="col-md-12" style="margin: 0; font-weight: bold"><h1>VS</h1></div>

            <div class="col-md-9" style="margin: 0">
                <div class="col-md-12 card" style="margin: 0;">
                    <div class="col-md-12 card-value top-value" style="margin: 0">
                        @Html.Raw(ViewBag.PlayerCardValue)
                    </div>
                    <div class="col-md-12 card-type" style="margin: 0">
                        @Html.Raw(ViewBag.PlayerCardColor)
                    </div>
                    <div class="col-md-12 card-value bottom-value rotate180" style="margin: 0">
                        @Html.Raw(ViewBag.PlayerCardValue)
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="margin: 0">
                @if (Session["PlayerDeck"] == null || (((Deck)Session["PlayerDeck"]).CardsCount == 0))
                {
                    <div class="card">
                        &nbsp;
                    </div>

                    <span class="deck-info">
                        Cards in deck: @ViewBag.PlayerDeck
                        <br />Cards in used stack: @ViewBag.PlayerUsedDeck <br />
                    </span>
                }
                else
                {
                    <div class="card card-back">
                        &nbsp;
                    </div>

                    <span class="deck-info">
                        Cards in deck: @ViewBag.PlayerDeck
                        <br />
                        Cards in used stack: @ViewBag.PlayerUsedDeck <br />
                    </span>
                }
            </div>
            <div class="col-md-12" style="margin: 0"><h2>YOU</h2></div>
            @Html.ActionLink("Draw Card", "DrawCards", "Game", null, new { @class = "game-button" })
        </div>

    </div>
}
else
{
    <span>
        Winner winner chicken diner! <br />
        @Session["GameStatus"].ToString()
    </span>

}

<br /><br />

<hr />
<br />

<div class="row">
    <div class="col-md-12" style="text-align: center"><h3>CHEATS</h3></div>
    <div class="col-md-2">
        @Html.Raw(ViewBag.FullDeckInfoBag)
    </div>
    <div class="col-md-2">
        @Html.Raw(ViewBag.PlayerDeckInfoBag)
    </div>
    <div class="col-md-2">
        @Html.Raw(ViewBag.PlayerUsedCardsInfoBag)
    </div>
    <div class="col-md-2">
        @Html.Raw(ViewBag.HostileDeckInfoBag)
    </div>
    <div class="col-md-2">
        @Html.Raw(ViewBag.HostileUsedCardsInfoBag)
    </div>
</div>


