﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gameTable {
    text-align: center; 
}

.card-value {
    font-weight: bold;
    font-size: 30px; 
}

.top-value {
    padding-right: 10px;
    padding-top: 8px;
    height: 20%;
    text-align: right;
}

.bottom-value {
    padding-left: 105px; 
    height: 20%;
    text-align: left;
}

.card-type {
    height: 57%;
    padding-left: 10px;
}

.rotate180 {
    /* Safari */
    -webkit-transform: rotate(180deg);
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* IE */
    -ms-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(180deg);
}

a.game-button {

    width: 200px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

    a.game-button:hover {
        color: red;
        font-weight: bold;
    }


.card {
    width: 170px;
    height: 245px;
    /*background-color: red;*/
    background-image: url("../Images/Game/blank.png");
    background-size: 100% 100%;
}

.card-back {
    background-image: url("../Images/Game/card-back.jpg") !important;
}

.deck-info {
    color: black;
    text-align: left;
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px 1px red;
}